<%= form_for @friend do |form| %>


  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name%>
    <%= form.text_field :last_name, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :email%>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :twitter%>
    <%= form.text_field :twitter, class:"form-control" %>
  </div>

  <h3>Blogs</h3>
    <%= form.fields_for :blogs do |blog| %>
      <%= render 'blog_fields', f: blog %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Blog', form, :blogs, class: 'btn btn-primary my-2' %>
    </div>


  <div class="actions">
     <%= form.submit 'Save', class: "btn btn-success my-2"%>
  </div>
 


<% end %>
